
.proofs-table {
  margin-top:30px;
  margin-left:auto; 
  margin-right:auto;
  width: 80%;
  /* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
  font-size: 10px;
  border-collapse: collapse;
  /* font-size: calc(10px + 2vmin); */
}

.proofs-table td,
.proofs-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.proofs-table tr:nth-child(even) {
  background-color: var(--background_2);
}

.proofs-table tr:nth-child(odd) {
  background-color: var(--background_3);
}

.proofs-table tr:hover {
  background-color: #ddd;
}

.proofs-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

.proofs-table caption {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #979797;
  color: white;
  font-size: calc(13px);
}

