.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  background-color: var(--background_1);
  min-height: 100vh;
  max-width: 100vw;
}

.hash {
  font-size: calc(10px + 1vmin);
}

.App-link {
  color: var(--body-link);
}
