:root {
  --body-txt: #333333;
  --body-link: #2780E3;
  --body-red: #FF0039;
  --button-color_1: #53A6BE;
  --background_1: #FDFDFD;
  --background_2: #F9F9F9;
  --background_2: #EFEFEF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--body-txt)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
